.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius:10px;
    background-color: rgb(255, 239, 179);
    height: 70px;
    
    align-items: center;
}

.nav-itmes>ul{
    font-size:20px;
    display:flex;
    list-style-type:none;
    align-items: center;
   justify-content: center;
}


.nav-itmes>ul>li{
    padding: 15px;
    margin:15px;  
   
}
  
.logo{
    padding-top: 2;
    padding-left: 40;
    display: flex;
    align-items: center;
}

.res-card{
    width :200px;
    height: 300px;
    border: 1px solid rgb(166, 155, 155);
    border-radius: 10px;
    padding:5px;
    margin:19.5px;

}

.res-container{
     display: flex;
    flex-wrap: wrap;
}

.res-card:hover{
    cursor: pointer;
      border: 1px solid black;
}

.Search{
    margin: 15px;
}

.res-logo{
    width: 100%;
    border-radius: 10px;
}